.userAvatar{
  display: inline-block;
  img{
    width: 168px;
    height: 168px;
    object-fit: cover;
    border: 4px solid white;
    border-radius: 50%;
    &.small{
      width: 64px;
      height: 64px;
    }
  }
}