@import "../../styles/mixins/flexbox";

.navigation{
  .navItems{
    list-style: none;
    padding: 0;
    margin: 0;
    .navItem{
      font-size: 20px;
      @include flexbox();
      @include align-items(stretch);
      padding: 5px 10px;
      .navLink{
        color: white;
        text-decoration: none;
        width: 100%;
        @include flexbox();
        @include align-items(center);
        &.active{
          color: #ffc107;
        }
        [class*="fa-"]{
          margin-right: 10px;
        }
      }
      &:hover,&:focus{
        background-color: #42a5f5;
      }
    }
  }
}